@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/font-styles-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
@import "../../styles/colors-scheme/colors-scheme.scss";
.input {
    width: pixToRemMixin(270);
    height: pixToRemMixin(30);
    outline: none;
    border: none;
    border-bottom: pixToRemMixin(1) solid $black-color;
    &:hover {
        border-bottom: pixToRemMixin(2) solid $black-color;
    }
    &:active {
        outline: none;
        border-bottom: pixToRemMixin(2) solid $black-color;
    }
    &:focus {
        border-bottom: pixToRemMixin(2) solid $black-color;
    }
}