@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/font-styles-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
@import "../../styles/colors-scheme/colors-scheme.scss";
.form-container {
    @include dFlexMixin(flex, column, center, center, false);
    margin-top: pixToRemMixin(80);
}

.form-component {
    @include dFlexMixin(flex, column, center, center, false);
    @include fontStylesMixin("Ubuntu", 20, 400, $white-color);
    width: pixToRemMixin(420);
    margin: pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20);
    padding: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0);
    color: $black-color;
    margin: 0 auto;
    border: pixToRemMixin(2) solid $black-color;
    border-radius: 2%;
    box-sizing: border-box;
}

.form-header {
    padding: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0);
    @include fontStylesMixin("Ubuntu", 32, 400, $black-color);
}

.fields-container {
    @include dFlexMixin(flex, column, center, flex-start, false);
}

.field-container {
    @include dFlexMixin(flex, column, center, flex-start, false);
    padding: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0);
}

.input-wrapper {
    padding: pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(10) pixToRemMixin(0);
}

.error-text {
    @include fontStylesMixin("Ubuntu", 14, 400, $white-color);
    color: $red-color;
    max-width: pixToRemMixin(300);
}

.btn-container {
    padding: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0);
}

.btn-reset {
    @include fontStylesMixin("Ubuntu", 16, 400, $white-color);
    @include dFlexMixin(inline-flex, false, center, center, center);
    height: pixToRemMixin(40);
    width: pixToRemMixin(110);
    margin: pixToRemMixin(10) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(0);
    transition: all 200ms linear;
    border-radius: pixToRemMixin(4);
    letter-spacing: pixToRemMixin(1);
    border: none;
    position: relative;
    cursor: pointer;
    background-color: $black-color;
    &:hover {
        background-color: $azure-color;
    }
    &:active {
        background-color: $blue-crayola-color;
    }
}

.btn-submit {
    @include fontStylesMixin("Ubuntu", 16, 400, $white-color);
    @include dFlexMixin(inline-flex, false, center, center, center);
    height: pixToRemMixin(40);
    width: pixToRemMixin(140);
    margin: pixToRemMixin(10) pixToRemMixin(10) pixToRemMixin(0) pixToRemMixin(0);
    transition: all 200ms linear;
    border-radius: pixToRemMixin(4);
    letter-spacing: pixToRemMixin(1);
    border: none;
    position: relative;
    cursor: pointer;
    background-color: $black-color;
    &:hover {
        background-color: $azure-color;
    }
    &:active {
        background-color: $blue-crayola-color;
    }
    &:disabled {
        background-color: $gray-color-disabled-button;
    }
}

@media screen and (max-width: pixToRemMixin(480)) {
    .form-component {
        @include dFlexMixin(flex, column, center, center, false);
        width: pixToRemMixin(280);
        margin: pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20);
        padding: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0);
        border: none;
        color: $black-color;
    }
    .btn-container {
        @include dFlexMixin(flex, column, center, center, center);
    }
    .btn-reset {
        width: pixToRemMixin(140);
        margin: pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(0);
    }
    .btn-submit {
        margin: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(0);
    }
}