@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/font-styles-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
@import "../../styles/colors-scheme/colors-scheme.scss";
.block-tabs {
    @include dFlexMixin(flex, row, flex-start, center, false);
    box-sizing: border-box;
}

.tabs {
    padding: pixToRemMixin(18) pixToRemMixin(15) pixToRemMixin(15) pixToRemMixin(15);
    text-align: center;
    width: 100%;
    background: $gray-color-disabled-button;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    outline: none;
    text-decoration: none;
    color: $white-color;
    font-weight: bold;
}

.active-tabs {
    box-sizing: border-box;
    background: $white-color;
    padding: pixToRemMixin(15) pixToRemMixin(15) pixToRemMixin(15) pixToRemMixin(15);
    width: 100%;
    color: $black-color;
    font-weight: bold;
    border-bottom: pixToRemMixin(4) solid $azure-color;
}

@media screen and (max-width: pixToRemMixin(480)) {
    .tabs {
        padding: pixToRemMixin(15) pixToRemMixin(7) pixToRemMixin(15) pixToRemMixin(5);
        text-align: center;
        width: 50%;
        background: $gray-color-disabled-button;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        outline: none;
        text-decoration: none;
        color: $white-color;
        font-weight: bold;
    }
    .active-tabs {
        background: $white-color;
        color: $black-color;
        font-weight: bold;
        border-bottom: pixToRemMixin(1) solid $azure-color;
    }
}