$white-color: #fff;
$black-color: #000;
$medium-gray-color: #2c2c2c;
$azure-color: #1a83ff;
$blue-crayola-color:#0077ff;
$red-color: #ff0026;
$gray-color-disabled-button:#b1b1b1;
$sikkens-color: #c7c2c2;
$pantone-color:#5e5a5a;