.about,
.service,
.user {
    height: 82vh;
    font-size: pixToRemMixin(48);
    @include dFlexMixin(flex, column, center, center, false);
}

.pre-loading {
    text-align: center;
}

.home {
    height: 82vh;
    font-size: pixToRemMixin(22);
    @include dFlexMixin(flex, column, flex-start, center, false);
}