@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/font-styles-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
@import "../../styles/colors-scheme/colors-scheme.scss";
.content {
    background: $white-color;
    padding: pixToRemMixin(20) pixToRemMixin(20) pixToRemMixin(20) pixToRemMixin(20);
    width: 100%;
    height: 100%;
    display: none;
}

.content h2 {
    padding: pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(5) pixToRemMixin(0);
}

.content hr {
    width: pixToRemMixin(100);
    height: pixToRemMixin(2);
    background: $black-color;
    margin-bottom: pixToRemMixin(5);
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}