@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/font-styles-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
@import "../../styles/colors-scheme/colors-scheme.scss";
.container {
    @include dFlexMixin(flex, column, start, stretch, false);
    position: relative;
    width: pixToRemMixin(500);
    height: pixToRemMixin(300);
    margin: 0 auto;
    word-break: break-all;
}

@media screen and (max-width: pixToRemMixin(480)) {
    .container {
        width: pixToRemMixin(310);
    }
}