@import "../../styles/colors-scheme/colors-scheme.scss";
@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
.header-container {
    @include dFlexMixin(flex, row, center, center, false);
    height: pixToRemMixin(80);
    width: 100%;
    background-color: $medium-gray-color;
    color: $white-color;
    padding: pixToRemMixin(0);
    margin: 0 auto;
}

.header {
    font-size: pixToRemMixin(32);
    color: $white-color;
    margin: 0 auto;
    padding: 0;
}

.navbar {
    @include dFlexMixin(flex, row, start, center, false);
}

.menu-bars {
    margin-left: pixToRemMixin(32);
    font-size: pixToRemMixin(32);
    background: none;
    z-index: 2;
    cursor: pointer;
}

@media screen and (max-width: pixToRemMixin(780)) {
    .navbar {
        z-index: 4;
    }
}

@media screen and (max-width: pixToRemMixin(480)) {
    .navbar {
        z-index: 4;
    }
}