@import "../components/login-page/login-page.component.scss";
@import "../components/main-page/main-page.component.scss";
@import "../components/header/header.component.scss";
@import "../components/sidebar/sidebar.component.scss";
@import "../components/footer/footer.component.scss";
@import "../components/input/input.component.scss";
@import "../components/loader/loader.component.scss";
@import "../pages/home/home-page.component.scss";
@import "../components/tabs/tabs-component.scss";
@import "../components/content/content.component.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}