    @import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
    @import "../../styles/mixins/font-styles-mixin.mixin.scss";
    @import "../../styles/mixins/flex-mixin.mixin.scss";
    @import "../../styles/colors-scheme/colors-scheme.scss";
    .nav-menu {
        background-color: $medium-gray-color;
        width: 250px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 850ms;
    }
    
    .nav-menu.active {
        left: 0;
        transition: 350ms;
    }
    
    .nav-text {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 8px 0px 8px 16px;
        list-style: none;
        height: 60px;
    }
    
    .nav-text a {
        text-decoration: none;
        color: $white-color;
        font-size: 18px;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4px;
    }
    
    .nav-text a:hover {
        background-color: $azure-color;
    }
    
    .nav-text a:active {
        background-color: $blue-crayola-color;
    }
    
    .nav-text a:focus {
        background-color: $blue-crayola-color;
        font-weight: bold;
    }
    
    .nav-menu-items {
        width: 100%;
    }
    
    .navbar-toggle {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    span {
        margin-left: 16px;
    }
    
    .active NavLink {
        background-color: $blue-crayola-color;
    }
    
    .btn-exit-container {
        @include dFlexMixin(flex, row, center, center, false);
        margin: pixToRemMixin(60) pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(0);
    }
    
    .btn-logout {
        @include fontStylesMixin("Ubuntu", 16, 400, $white-color);
        @include dFlexMixin(flex, row, center, center, center);
        height: pixToRemMixin(40);
        width: pixToRemMixin(40);
        padding: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(10) pixToRemMixin(0);
        margin-right: pixToRemMixin(20);
        border-radius: pixToRemMixin(4);
        letter-spacing: pixToRemMixin(1);
        border-radius: 5%;
        border: none;
        cursor: pointer;
        background-color: $azure-color;
        ;
        &:hover {
            background-color: $azure-color;
        }
        &:active {
            background-color: $blue-crayola-color;
        }
    }
    
    .icon-exit-container {
        font-size: 1.5rem;
        background: none;
        padding: pixToRemMixin(0) pixToRemMixin(10) pixToRemMixin(0) pixToRemMixin(15);
    }
    
    li {
        list-style-type: none;
    }
    
    .content-container {
        text-align: center;
    }
    
    @media screen and (max-width: pixToRemMixin(780)) {
        .nav-menu {
            z-index: 3;
        }
        .nav-menu.active {
            z-index: 3;
        }
    }
    
    @media screen and (max-width: pixToRemMixin(480)) {
        .nav-menu {
            z-index: 3;
        }
        .nav-menu.active {
            z-index: 3;
        }
    }