@import "../../styles/colors-scheme/colors-scheme.scss";
@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
.footer {
    @include dFlexMixin(flex, row, center, center, false);
    height: pixToRemMixin(80);
    font-size: pixToRemMixin(12);
    background-color: $medium-gray-color;
    color: $white-color;
}