@import "../src/components/app.scss";
@import "./styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "./styles/mixins/font-styles-mixin.mixin.scss";
@import "./styles/mixins/flex-mixin.mixin.scss";
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
    width: 100vw;
    height: 100vh;
    @include dFlexMixin(flex, column, false, false, false);
}

.container-main {
    width: 100vw;
    height: 100vh;
    @include dFlexMixin(flex, column, space-between, false, false);
}