@mixin dFlexMixin($displayFlex, $direction, $justify, $alignIt, $alignSf) {
    @if ($displayFlex) {
        display: $displayFlex;
    }
    @if ($direction) {
        flex-direction: $direction;
    }
    @if ($justify) {
        justify-content: $justify;
    }
    @if ($alignIt) {
        align-items: $alignIt;
    }
    @if ($alignSf) {
        align-self: $alignSf;
    }
}